<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826934659087-n2155n45ovdjacr1oq4m6942calkaka3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826934659087-n2155n45ovdjacr1oq4m6942calkaka3</string>
	<key>API_KEY</key>
	<string>AIzaSyBB8rukiR4c9sRcR1TNSkDBQAUAhEKa5Bk</string>
	<key>GCM_SENDER_ID</key>
	<string>826934659087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Lama.Home</string>
	<key>PROJECT_ID</key>
	<string>darakson-4e7aa</string>
	<key>STORAGE_BUCKET</key>
	<string>darakson-4e7aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826934659087:ios:831ead98298075e1be7b7a</string>
	<key>DATABASE_URL</key>
	<string>https://darakson-4e7aa.firebaseio.com</string>
</dict>
</plist>